{% extends 'base.html.twig' %}
{% block title %}Payment{% endblock %}
{% block container %}
    <div class="container">
        <h1>{% trans %}Paiement{% endtrans %}</h1>
        <p>Payez {{ amount }}</p>
    </div>
{% endblock %}